basePath: '{{.BasePath}}'
definitions:
  main.IndexData:
    properties:
      content:
        type: string
      title:
        type: string
    type: object
host: localhost:8088
info:
  contact: {}
  description: Ginlol
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Ginlol
  version: "1.0"
paths:
  /:
    get:
      description: 帳號密碼
      responses:
        "200":
          description: OK
          schema:
            type: body
      summary: 初始
      tags:
      - Hello
  /demo/v1/hello/{user}/{gender}:
    post:
      parameters:
      - description: 名字
        in: path
        name: user
        required: true
        type: string
      - description: 性別
        in: path
        name: gender
        type: string
      - description: aaa
        in: formData
        name: aaa
        type: string
      - description: bbb
        in: formData
        name: bbb
        type: string
      - description: ccc
        in: formData
        name: ccc
        type: string
      - description: img
        in: formData
        name: img
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: 說HALO
      tags:
      - Hello
  /login:
    get:
      produces:
      - text/html
      summary: 呈現登入頁面
      tags:
      - login
    post:
      consumes:
      - multipart/form-data
      parameters:
      - description: User struct
        in: formData
        name: user
        required: true
        type: string
      - description: User struct
        in: formData
        name: password
        required: true
        type: string
      - description: User struct
        in: formData
        name: password-again
        required: true
        type: string
      produces:
      - application/json.
      responses:
        "200":
          description: '{"status": "You are logged in!"}'
          schema:
            type: string
        "400":
          description: '{"error": err.Error()}'
          schema:
            type: string
        "401":
          description: '{"status": "unauthorized"}'
          schema:
            type: string
      summary: '"帳號密碼輸入,如果沒有就新增"'
      tags:
      - login
swagger: "2.0"
